<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Playing Delaford &middot; free 2D medieval rpg</title>
  <link rel="shortcut icon" href="<%= BASE_URL %>sword-icon.png" type="image/png">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'/>

  <style type="text/css" scoped>
    html {
      height: 100%;
      background-color: #655a5a;
    }

    body {
      overflow: hidden;
      height: 100%;
      margin: 0;
      padding: 0;

    }
  </style>
</head>

<body>
  <div id="delaford"></div>
  <div class="modal active" id="modal">
    <div class="modal-body">
      <form method="post" onsubmit="return submitUserForm();" >
        <div class="g-recaptcha" data-sitekey="6LfzNAAVAAAAAAe6CwUAKh4QuGdWlKOgAiS80b8U" data-callback="verifyCaptcha"></div>
        <div id="g-recaptcha-error"></div>
      </form>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>

      function closeModal(modal) {
        if (modal == null) return
        document.getElementById("modal").style.display ="none";
        document.getElementById("overlay").style.display = "none" ;
      }

      function submitUserForm() {
          var response = grecaptcha.getResponse();
         
          if(response.length == 0) {
              document.getElementById('g-recaptcha-error').innerHTML = '<span style="color:red;">This field is required.</span>';
              return false;
          }
          return true;
      }
       
      function verifyCaptcha() {
          closeModal(modal);
          document.getElementById('g-recaptcha-error').innerHTML = '';
      }
      </script>
    </div>
  </div>
  <div id="overlay"></div>
  <style type="text/css" scoped>
    *, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 1;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

  </style>
</body>

</html>
